<?xml version="1.0"?>
<!-- 
/** 
 * Form Key
 * 
 * @category Artio 
 * @package Artio_FormKey 
 * @copyright Copyright (c) 2014 Artio s.r.o (http://www.artio.net)
 */ 
-->
<config>
	<sections>
		<web>
			<groups>
				<formkey module="artio_formkey">
					<label>Form Key Protection</label>
					<frontend_type>text</frontend_type>
					<sort_order>500</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<disable_formkey module="artio_formkey">
							<label>Disable Form Key protection</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</disable_formkey>
						<actions>
                            <label>Affected Actions</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
						</actions>
					</fields>
				</formkey>
			</groups>
		</web>
	</sections>
</config>