.mostViewed { margin-bottom:30px; }
.mostViewed ul, .mostViewed ul ul, .mostViewed ol, .mostViewed ul.products-grid, .mostViewed ul.products-list { list-style:none; margin:0; padding:0; }
.mostViewed ul li, .mostViewed .pager .pages ol li { margin-left:0; }

.mostViewed .pager { float:none; border-bottom:1px dotted #ddd; border-top:1px dotted #ddd; padding:10px 10px 5px; margin-bottom:20px; }

.mostViewed .title h2 { font-weight:600; margin:10px 0; }

.mostViewed .products-grid .price-box p { margin-bottom:0; }
.mostViewed ul.products-list.rwd .price-box p { display:inline-block; margin:0 0 0 15px; }
.mostViewed ul.products-list.default .price-box p { margin:0 0 3px; }

.default ul ul.add-to-links { margin-top:5px; }