<?xml version="1.0"?>
<config>
	<modules>
		<Vsourz_Exitscreen>
			<version>0.1.0</version>
		</Vsourz_Exitscreen>
	</modules>
	<frontend>
		<layout>
			<updates>
				<exitscreen>
					<file>vsourz/exitscreen.xml</file>
				</exitscreen>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<exitscreen>
				<class>Vsourz_Exitscreen_Helper</class>
			</exitscreen>
		</helpers>
		<blocks>
			<exitscreen>
				<class>Vsourz_Exitscreen_Block</class>
			</exitscreen>
		</blocks>
		<models>
			<exitscreen>
				<class>Vsourz_Exitscreen_Model</class>
			</exitscreen>
		</models>
		<resources>
			<exitscreen_setup>
				<setup>
					<module>Vsourz_Exitscreen</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</exitscreen_setup>
		</resources>
	</global>
	<default>
		<exitscreen>
			<settings>
				<enable_extension>1</enable_extension>
				<loadjs>0</loadjs>
				<promotionblock>vsourz-exit-screen-popup</promotionblock>
				<cookie>10</cookie>
				<delay>.1</delay>
				<width>500</width>
				<height>auto</height>
			</settings>
		</exitscreen>
	</default>
</config>