<?xml version="1.0"?>
<config>
	<modules>
		<CapacityWebSolutions_Mostviewed>
            <version>1.0.1</version>
        </CapacityWebSolutions_Mostviewed>
    </modules>
	<global>
		<models>
            <mostviewed>
                <class>CapacityWebSolutions_Mostviewed_Model</class>
                <resourceModel>mostviewed_mysql4</resourceModel>
            </mostviewed>
            <mostviewed_mysql4>
                <class>CapacityWebSolutions_Mostviewed_Model_Mysql4</class>
                <entities>
					<mostviewed>
                        <table>cws_mostviewed</table>
                    </mostviewed>
			    </entities>
            </mostviewed_mysql4>
	    </models>
		<resources>
            <mostviewed_setup>
                <setup>
                    <module>CapacityWebSolutions_Mostviewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewed_setup>
            <mostviewed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewed_write>
            <mostviewed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewed_read>
        </resources>
	  	<blocks>
            <mostviewed>
                <class>CapacityWebSolutions_Mostviewed_Block</class>
            </mostviewed>
        </blocks>
		<helpers>
            <mostviewed>
                <class>CapacityWebSolutions_Mostviewed_Helper</class>
            </mostviewed>
        </helpers>
    </global>
	<frontend>
        <routers>
            <mostviewed>
                <use>standard</use>
                <args>
                    <module>CapacityWebSolutions_Mostviewed</module>
                    <frontName>mostviewed</frontName>
                </args>
            </mostviewed>
        </routers>
		<layout>
			<updates>
				<mostviewed>
					<file>mostviewed.xml</file>
				</mostviewed>
			</updates>
		</layout>
	</frontend>
	
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<mostviewed before="Mage_Adminhtml">CapacityWebSolutions_Mostviewed_Adminhtml</mostviewed>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	
    <adminhtml>
		
		<layout>
			<updates>
				<mostviewed>
					<file>mostviewed.xml</file>
				</mostviewed>
			</updates>
		</layout>
		
	</adminhtml>
    <default> <!-- Default text value set from admin-->
		<mostviewed>
			<general>  
				<enabled>1</enabled>
				<isresponsive>1</isresponsive>
				<display_heading>1</display_heading>
				<heading>MOST VIEWED PRODUCTS</heading>
				<choose_products>1</choose_products>
				<display_by>1</display_by>
				<sort_by>name</sort_by>
				<sort_order>asc</sort_order>
				<products_price>1</products_price>
				<review>0</review>
				<short_desc>0</short_desc>
				<desc_limit>10</desc_limit>
				<add_to_cart>1</add_to_cart>
				<add_to_wishlist>0</add_to_wishlist>
				<add_to_compare>0</add_to_compare>
				<out_of_stock>0</out_of_stock>
			</general>
			<template>
				<select_template>1</select_template>
				<number_of_items>10</number_of_items>
				<show_pager>0</show_pager>
				<products_per_page>5</products_per_page>
				<thumbnail_height>135</thumbnail_height>
				<thumbnail_width>135</thumbnail_width>
			</template>
		</mostviewed>
	</default>	
</config>
